<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.review">

	<resultMap id="review"
		type="com.basic.projectbook.vo.ReviewVO">
		<id property="no" column="no" />
		<result property="isbn" column="isbn" />
		<result property="id" column="id" />
		<result property="point" column="point" />
		<result property="title" column="title" />
		<result property="comment" column="comment" />
		<collection property="com.basic.projectbook.vo.OrderListVO" resultMap="orderlist">
		
		</collection>
		
		
	</resultMap>
	<insert id="addReviewDummy">
	insert into review (isbn,id,point,title,comment)
	select b.isbn,1,1,1,1 from book b
	
	</insert>
	<select id="getLastNo"  resultType="int">
	SELECT IFNULL(MAX(no), -1) as last_no FROM review;
	</select>
	

	
	
	
	

</mapper>